@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Exocortex amber palette */
    --background: 40 27% 4.3%;
    --foreground: 41 39% 85.3%;

    --card: 30 17% 2.4%;
    --card-foreground: 41 39% 85.3%;

    --popover: 38 29% 5.5%;
    --popover-foreground: 41 39% 85.3%;

    --primary: 36 100% 63.9%;
    --primary-foreground: 30 17% 2.4%;

    --secondary: 40 29% 6.1%;
    --secondary-foreground: 41 39% 85.3%;

    --muted: 30 25% 3.1%;
    --muted-foreground: 43 10% 53.1%;

    --accent: 37 30% 8.4%;
    --accent-foreground: 41 39% 85.3%;

    --destructive: 340 100% 65.5%;
    --destructive-foreground: 30 17% 2.4%;

    --border: 38 26% 14.3%;
    --border-high: 39 25% 18.2%;
    --input: 38 26% 14.3%;

    --ring: 36 100% 63.9%;

    --radius: 0.125rem;

    --warning: 24 100% 62%;
    --warning-foreground: 30 17% 2.4%;

    --success: 111 100% 77.1%;
    --success-foreground: 30 17% 2.4%;
    --surface: 36 100% 63.9% / 0.06;
  }

  .dark {
    /* Exocortex amber palette */
    --background: 40 27% 4.3%;
    --foreground: 41 39% 85.3%;

    --card: 30 17% 2.4%;
    --card-foreground: 41 39% 85.3%;

    --popover: 38 29% 5.5%;
    --popover-foreground: 41 39% 85.3%;

    --primary: 36 100% 63.9%;
    --primary-foreground: 30 17% 2.4%;

    --secondary: 40 29% 6.1%;
    --secondary-foreground: 41 39% 85.3%;

    --muted: 30 25% 3.1%;
    --muted-foreground: 43 10% 53.1%;

    --accent: 37 30% 8.4%;
    --accent-foreground: 41 39% 85.3%;

    --destructive: 340 100% 65.5%;
    --destructive-foreground: 30 17% 2.4%;

    --border: 38 26% 14.3%;
    --border-high: 39 25% 18.2%;
    --input: 38 26% 14.3%;

    --ring: 36 100% 63.9%;

    --radius: 0.125rem;

    --warning: 24 100% 62%;
    --warning-foreground: 30 17% 2.4%;

    --success: 111 100% 77.1%;
    --success-foreground: 30 17% 2.4%;
    --surface: 36 100% 63.9% / 0.06;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
